@media screen and (max-width: 991px){
  .choose-menu li.active .choose-info-item-mobile{
    display: block;
  }
}

@media screen and (min-width: 480px){

      
}

@media screen and (min-width: 768px){

}

@media screen and (min-width: 992px){
  .main-menu{
    font-size: 12px;
    text-transform: uppercase;
    & ul li{
      padding-left: 3px;
      padding-right: 3px;
      &:first-child{
        padding-left: 0;
      }
      &:last-child{
        padding-right: 0;
      }
      & a{
        color: #fff;
        &:hover{
          text-decoration: underline;
        }
      }
      &.current-menu-item a{
        text-decoration: underline;
      }
    }
  }
  #cta{
    & .left-column{
      flex-basis: calc(100% - 336px);
      max-width: calc(100% - 336px);
      & .cta-left-button{
        flex-basis: 266px;
        max-width: 266px;
      }
      & .cta-left-text{
        flex-basis: calc(100% - 266px);
        max-width: calc(100% - 266px);
      }
    }
    & .right-column{
      flex-basis: 336px;
      max-width: 336px;
    }
  }
  .choose-menu{
    padding: 0;
    display: block;
    & li{
      margin-bottom: 0;
      padding-left: 65px;
      padding-top: 35px;
      padding-bottom: 35px;
      font-size: 26px;
      &:hover{
        color: #2D2377;
      }
      &.active{
        color: #fff;
        background-color: #2D2377;
        border-top-left-radius: 9999999px;
        border-bottom-left-radius: 9999999px;
      }
      & .choose-info-name{
        padding-right: 12px;
      }
    }
  }
}

@media screen and (min-width: 1250px){
  .main-menu{
    font-size: 15px;
  }
  #home-hero{
    margin-top: -300px;
    padding-top: 440px;
    padding-bottom: 230px;
  }
  .why-us-bg{
    top: -6rem;
    right: -6rem;
    bottom: -6rem;
    left: -6rem;
  }
  #cta{
    & .left-column{
      flex-basis: 60%;
      max-width: 60%;
      padding-right: 55px;
      padding-left: calc(50% - 545px);
      & .cta-left-bg-img{
        margin-left: -40px;
      }
    }
    & .right-column{
      flex-basis: 40%;
      max-width: 40%;
      padding-left: 55px;
    }
  }
  .facilities-left-column{
    padding-right: 55px;
    padding-left: calc(50% - 545px);
  }
  input[type='text'], input[type='email'], input[type='tel'], input[type='url'], input[type='number']{
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  select{
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 58px;
  }
  .form-item-select::after{
    top: 14px;
    right: 25px;
  }
}