@media screen and (min-width: 480px){

      
}

@media screen and (min-width: 768px){

}

@media screen and (min-width: 992px){
  .main-menu{
    font-size: 12px;
    text-transform: uppercase;
    & ul li{
      padding-left: 3px;
      padding-right: 3px;
      &:first-child{
        padding-left: 0;
      }
      &:last-child{
        padding-right: 0;
      }
      & a{
        color: #fff;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}

@media screen and (min-width: 1250px){
  .main-menu{
    font-size: 15px;
  }
  #home-hero{
    margin-top: -300px;
    padding-top: 440px;
    padding-bottom: 230px;
  }

}