@import "./fonts";
@import "./slick";
@import "./tailwind";
@import "./mobile-menu";
@import "./main";

body, html{
  height: 100%;
  position: relative;
}

@layer components {
    body{
        @apply bg-white text-black text-base lg:text-lg;
    }
    h1, .h1{
      @apply text-[36px] leading-[35px] lg:text-[45px] lg:leading-[43px] font-bold font-cabin uppercase tracking-wide;
    }
    h2{
      @apply text-[31px] leading-[40px] font-bold font-cabin uppercase tracking-wide;
    }
    h3{
      @apply text-[22px] leading-[26px] font-bold font-cabin uppercase tracking-wide;
    }
    h4{
      @apply text-[45px] leading-[43px] font-bold font-cabin uppercase tracking-wide;
    }
    h5{
      @apply text-[45px] leading-[43px] font-bold font-cabin uppercase tracking-wide;
    }
    p{
        @apply mb-8;
        &:last-child{
          @apply mb-0;
        }
    }
    .container{
        @apply mx-auto px-3;
    }
    input[type='text'], input[type='email'], input[type='tel'], input[type='url'], input[type='number']{
      width: 100%;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      padding-left: 1rem;
      padding-right: 1rem;
      border:1px solid #ccc;
      border-radius: 8px;
    }
    input:focus{
        @apply outline-none;
        border-color: #E55129;
    }
    input::placeholder{
        @apply text-black;
    }
    select{
      width: 100%;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      padding-left: 0.8rem;
      padding-right: 1rem;
      border:1px solid #ccc;
      border-radius: 8px;
      height: 41px;
      background-color: #fff;
    }
    select:focus{
      @apply outline-none;
      border-color: #3e44a9;
    }
    textarea:focus{
        @apply outline-none;
    }
    textarea::placeholder{
        @apply text-black;
    }

    input[type='submit']{
      @apply py-2 px-8 uppercase transition-all font-semibold text-base tracking-wide lg:py-3 max-w-full text-center inline-block  bg-blue text-white cursor-pointer;
    }

    input[type='submit']:hover{
      @apply bg-blue text-white;
    }
    
    .btn{
      @apply py-2 px-3 uppercase transition-all font-bold font-montserrat text-sm tracking-wide w-[255px] lg:py-4 max-w-full text-center inline-block no-underline;
    }
    .btn-primary {
      @apply bg-blue text-white border border-blue;
      &:hover{
        @apply bg-darkblue border-darkblue text-white;
      }
    }
    .btn-secondary {
      @apply text-blue border border-black;
      &:hover{
        @apply bg-black text-white;
      }
    }
    a{
        @apply text-lightblue transition-all underline;
        &:hover {
          @apply text-lightblue no-underline;
        }
    }

    .btn-white {
      @apply text-white border border-white lg:py-3 text-micro;
      &:hover{
        @apply bg-white text-black;
      }
    }
    a{
        @apply text-lightblue transition-all underline;
        &:hover {
          @apply text-lightblue no-underline;
        }
    }

    main ul{
      @apply list-disc ml-8 mb-10;
    }

    main ul li{
      @apply list-item mb-5;
    }

  }

  .info-slider-wrap{
    padding: 39px 125px 39px 79px;
    color: #fff;
    position: relative;
    &:after{
      content:url(../img/chat-message-info.svg);
      position: absolute;
      top: 50%;
      right: 29px;
      transform: translateY(-50%);
      width: 65px;
      height: 65px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    & a{
      color: #fff;
    }
  }

  #home-info-slider .prev{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover #left-arrows-slider{ 
      stroke: #fff;
    }
  }

  #home-info-slider .next{
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
    cursor: pointer;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover #right-arrows-slider{ 
      stroke: #fff;
    }
  }

.news-icon{
  box-shadow: 0 20px 40px 0 rgba(0,0,0,0.1);
}  

.news-title a{
  @apply text-blue font-bold;
}

.project-link a{
  & svg{
    display: inline-block;
    margin-left: 10px;
    transition-property: all;
    transition-duration: 150ms;
  }
  &:hover svg{
    margin-left: 15px;
    & .project-arrow{
      fill: #fff;
    }
  }
}

.project-thumbnail{
  & img{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.publication-link a{
  & svg{
    display: inline-block;
    margin-left: 10px;
    transition-property: all;
    transition-duration: 150ms;
  }
  &:hover svg{
    margin-left: 15px;
    & .publication-arrow{
      fill: #fff;
    }
  }
}

#principal-investigator{
  margin-top: -1px;
}

.hero-slider-wrap{
  position: absolute;
  width: 54%;
  left: 0;
  right: 20%;
  margin-left: auto;
  margin-right: auto;
  bottom: 23%;
}

.page-title{
  height: 65px;
  width: 280px;
  position: relative;
  &:before{
    content:'';
    position: absolute;
    top: 0;
    left: -80px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 80px 65px 0;
    border-color: transparent #3e44a9 transparent transparent;
  }
  &:after{
    content:'';
    position: absolute;
    top: 0;
    right: -80px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 65px 80px 0 0;
    border-color:  #3e44a9 transparent transparent transparent;
  }
}

.project-grid-item{
  background-color: #fff;
  box-shadow: 0 20px 40px 0 rgba(0,0,0,0.1);
  display: block;
  height: 100%;
}

#load-more-projects-button svg{
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

#load-more-projects-button:hover svg .stroked{
  stroke:#fff;
}

.year-filter-line{
  border-bottom: 2px  solid #EDEDED;
}

.year-filter-line > div{
  padding:0 10px 30px;
  cursor: pointer;
  color: #CECECE;
  position: relative;
  font-size: 14px;
  letter-spacing: 1px;
  &::before{
    content:'';
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #fff;
    border:5px solid #3E44A9;
    display: block;
    position: absolute;
    bottom: -12px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  &.active::before{
    background-color: #04E1FE;
  }
  &:hover::before{
    background-color: #04E1FE;
  }
}

.important-news-icon{
  height: 74px;
  width: 74px;
  background-color: #FFFFFF;
  box-shadow: 0 20px 40px 0 rgba(0,0,0,0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -37px;
  top: 50%;
  transform: translateY(-50%);
}

#load-more-news-button svg{
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

#load-more-news-button:hover svg .stroked{
  stroke:#fff;
}

.news-grid-item{
  background-color: #fff;
  box-shadow: 0 20px 40px 0 rgba(0,0,0,0.1);
  position: relative;
  display: block;
  height: 100%;
}

.news-grid-date{
  font-size: 14px;
  font-weight: 700;
}

.news-grid-body{
  font-size: 16px;
}

.news-grid-icon{
  height: 74px;
  width: 74px;
  background-color: #FFFFFF;
  box-shadow: 0 20px 40px 0 rgba(0,0,0,0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -37px;
  top: 14px;
}

#load-more-publications-button svg{
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

#load-more-publications-button:hover svg .stroked{
  stroke:#fff;
}

.publication-grid-item{
  background-color: #fff;
  box-shadow: 0 20px 40px 0 rgba(0,0,0,0.1);
  position: relative;
  display: block;
  height: 100%;
  padding-bottom: 2.5rem;
}

.publication-grid-type{
  font-size: 14px;
  font-weight: 700;
}

.publication-grid-body{
  font-size: 16px;
  line-height: 24px;
}

.publication-grid-icon{
  height: 74px;
  width: 74px;
  background-color: #FFFFFF;
  box-shadow: 0 20px 40px 0 rgba(0,0,0,0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -37px;
  top: 14px;
}

.publication-grid-buttons{
  padding-top: 2rem;
  padding-right: 1.75rem;
  padding-left: 2.25rem;
}

.publication-grid-buttons a{
  color: #3E44A9;
  padding: 10px 15px;
  border: 1px solid #000;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 16px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin-bottom: 12px;
  &:hover{
    color: #fff;
    background-color: #000;
  }
}

.single-project-icon{
  width: 100%;
  max-width: 240px;
  background-color: #fff;
  box-shadow: 0 20px 40px 0 rgba(0,0,0,0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  &::after{
    content: '';
    display: block;
    padding-bottom: 100%;
  }
}

.project-body img{
  margin-bottom: 45px;
}

.project-body a{
  color: #0979FE;
}

.overlay{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(49,54,139,0.86);
  z-index: 99;
  display: none;
  &.active{
    display: block;
  }
}

#modal-window{
  position: fixed;
  width: 857px;
  max-width: 80vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -200vh);
  background-color: #fff;
  z-index: 100;
  transition: all 0.3s ease-in-out;
  &.active{
    transform: translate(-50%, -50%);
  }
  & .close{
    color: #0979FE;
    font-family: Cabin;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 24px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.15s ease-in-out;
    & svg{
      margin-left: 7px;
      & .stroked{
        transition: all 0.15s ease-in-out;
      }
    }
    &:hover {
      color:#3E44A9;
      & svg .stroked{
        stroke: #3E44A9!important;
      }
    }
  }
  & .modal-body{
    max-height: 80vh;
    overflow: auto;
  }
}

pre[class*=language-] {
  margin: 0!important;
}

.courses-data-wrap {
  box-shadow: 0 20px 40px 0 rgba(0,0,0,0.1);
  position: relative;
}

.courses-brochure a{
  color: #3E44A9;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 16px;
  text-decoration: none;
  &:hover{
    color: #04E1FE;
    & svg .stroked{
      stroke: #04e1fe !important;
    }
  }
  & svg .stroked{
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }
}

.courses-description{
  font-size: 16px;
  line-height: 24px;
}

.courses-icon{
  width: 74px;
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3E44A9;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
}

.courses-accordion-item-body{
  padding: 20px 20px 20px 0;
  & p{
    margin-bottom: 15px;
  }
}

.courses-accordion-item-title{
  padding: 13px 30px 13px 0;
  position: relative;
  background-color: #fff;
  cursor: pointer;
  & .courses-accordion-item-button{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
    & svg{
      transition: all 0.15s ease-in-out;
    }
    &:hover .stroked{
      stroke:#3E44A9;
    }
  }
}

.courses-accordion-item{
  border-top: 1px solid #CECECE;
  &:last-child{
    border-bottom: 1px solid #CECECE;
  }
  & .courses-accordion-item-body{
    display: none;
    position: relative;
    z-index: -1;
  }
  &.open{
    & .courses-accordion-item-body{
      display: block;
    }
    & .courses-accordion-item-title .courses-accordion-item-button svg{
      transform: rotate(-225deg);
      transform-origin: center center;
    }
  }
}

.member-item{
  box-shadow: 0 20px 40px 0 rgba(0,0,0,0.1);
  padding: 23px 23px 17px;
  margin-bottom: 72px;
  & .member-photo{
    width: 171px;
    height: 100%;
    position: relative;
    background-color: #3E44A9;
    margin-top: -30px;
    margin-bottom: -47px;
    & img{
      margin-top: -17px;
      margin-left: 19px;
      margin-bottom: 17px;
      box-shadow: 0 20px 40px 0 rgba(0,0,0,0.1);
      position: relative;
    }
    
  }
  & .member-buttons a svg .stroked{
    transition: all 0.15s ease-in-out;
  }
  & .member-buttons a:hover svg .stroked{
    stroke: #3E44A9!important;
  }
}

#modal-window .member-info{
  display: block!important;
}

#modal-window .info-button{
  display: none;
}

#modal-window {
  & .member-photo{
    width: 171px;
    height: 100%;
    position: relative;
    background-color: #3E44A9;
    margin-top: -30px;
    margin-bottom: -47px;
    & img{
      margin-top: -17px;
      margin-left: 19px;
      margin-bottom: 17px;
      position: relative;
    }
    
  }
  & .member-buttons a svg .stroked{
    transition: all 0.15s ease-in-out;
  }
  & .member-buttons a:hover svg .stroked{
    stroke: #3E44A9!important;
  }
}

#modal-window.member{
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 23px;
  & .modal-body{
    overflow: visible;
  }
  & .member-data{
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 60vh;
  }
  & .member-buttons{
    margin-bottom: 30px;;
  }
  & .member-photo{
    margin-left: 0;
  }
}

.vacancy-data-wrap {
  box-shadow: 0 20px 40px 0 rgba(0,0,0,0.1);
  position: relative;
}

.vacancy-apply a{
  color: #3E44A9;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 16px;
  text-decoration: none;
  &:hover{
    color: #04E1FE;
    & svg .stroked{
      stroke: #04e1fe !important;
    }
  }
  & svg .stroked{
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }
}

.vacancy-icon{
  width: 74px;
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3E44A9;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
}

.vacancy-description a{
  color: #0979FE;
}

.gallery-wrap{
  background-color: #FFFFFF;
  box-shadow: 0 20px 40px 0 rgba(0,0,0,0.1);
  margin-bottom: 19px;
  & .gallery-icon{
    width: 74px;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -34px;
    background-color: #fff;
    box-shadow: 0 20px 40px 0 rgba(0,0,0,0.1);
  }
  & .gallery-button{
    position: relative;
    &::before{
      content: '';
      width: 100%;
      height: 100%;
      display: block;
      background: linear-gradient(270deg, #3E44A9 0%, rgba(62,68,169,0.47) 100%);
      opacity: 1;
      transition: opacity 0.15s ease-in-out;
    }
    &:hover::before{
      opacity: 0;
    }
    &::after{
      content: 'VIEW ALL';
      display: flex;
      position: absolute;
      top: 50%;
      left: 50%;
      color: #fff;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 0;
      transform: translate(-50%, -50%);
      white-space: nowrap;
    }
  }
}

.slider-nav{
  padding-bottom: 134px;
  transition: transform 0.3s ease-in-out;
}

.slider-for .gallery-item{
  padding-bottom: 62%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: opacity 500ms ease 0s;
}

.slider-nav .gallery-item{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  border: 4px solid transparent;
  &.current{
    border-color: #0979FE;
  }
}

.slider-nav-numbers{
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  font-size: 16px;
  & .gallery-button-number{
    padding: 8px 15px;
    cursor: pointer;
    &.current{
      color: #0979FE;
    }
  }
  & .gallery-prev{
    height: 48px;
    width: 48px;
    margin-right: 12px;
    background-color: #FFFFFF;
    box-shadow: 0 20px 40px 0 rgba(0,0,0,0.1);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
      box-shadow: none;
    }
  }
  & .gallery-next{
    height: 48px;
    width: 48px;
    margin-left: 12px;
    background-color: #FFFFFF;
    box-shadow: 0 20px 40px 0 rgba(0,0,0,0.1);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
      box-shadow: none;
    }
  }
}

.gallery-slider{
  display: none;
}

.gallery-person{
  display: none;
}

#modal-window .gallery-slider{
  display: flex;
}

#modal-window .galley-tumbnails{
  display: none;
}

#modal-window.gallery{
  width: 1280px;
  padding-top: 36px;
  padding-left: 0;
  padding-bottom: 0;
  padding-right: 16px;
}

#modal-window.gallery .modal-body{
  overflow: visible;
  max-height: unset;
}

#modal-window.gallery .gallery-wrap{
  max-height: 70vh;
  overflow: auto;
  margin-left: -34px;
  padding-left: 34px;
  background-color: transparent;
  box-shadow: none;
  padding-bottom: 0;
}

#modal-window.gallery .gallery-date{
  margin-top: 14px;
}

#modal-window.gallery .gallery-person{
  display: block;
}


#load-more-gallery-button svg{
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

#load-more-gallery-button:hover svg .stroked{
  stroke:#fff;
}

@import "./media";
@import "./animate.min";