@import "./fonts";
@import "./slick";
@import "./tailwind";
@import "./mobile-menu";
@import "./main";

body, html{
  height: 100%;
  position: relative;
}

@layer components {
    body{
        @apply bg-white text-black text-base;
    }
    h1, .h1{
      @apply text-[36px] leading-[42px] lg:text-[42px] lg:leading-[54px] font-black font-poppins;
    }
    h2{
      @apply text-[30px] leading-[40px] font-black font-poppins;
    }
    h3{
      @apply text-[22px] leading-[32px] font-black font-poppins;
    }
    h4{
      @apply text-[18px] leading-[28px] font-black font-poppins;
    }
    h5{
      @apply text-[16px] leading-[24px] font-black font-poppins;
    }
    p{
        @apply mb-8;
        &:last-child{
          @apply mb-0;
        }
    }
    .container{
        @apply mx-auto px-3;
    }
    input[type='text'], input[type='email'], input[type='tel'], input[type='url'], input[type='number']{
      width: 100%;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      padding-left: 1rem;
      padding-right: 1rem;
      border:1px solid #ccc;
      border-radius: 8px;
    }
    input:focus{
        @apply outline-none;
        border-color: #E55129;
    }
    input::placeholder{
        @apply text-black;
    }
    select{
      width: 100%;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      padding-left: 0.8rem;
      padding-right: 1rem;
      border:1px solid #ccc;
      border-radius: 8px;
      height: 41px;
      background-color: #fff;
    }
    select:focus{
      @apply outline-none;
      border-color: #3e44a9;
    }
    textarea:focus{
        @apply outline-none;
    }
    textarea::placeholder{
        @apply text-black;
    }

    input[type='submit']{
      @apply py-2 px-8 uppercase transition-all font-semibold text-base tracking-wide lg:py-3 max-w-full text-center inline-block  bg-blue text-white cursor-pointer;
    }

    input[type='submit']:hover{
      @apply bg-blue text-white;
    }
    
    .btn{
      @apply py-2 px-3 uppercase transition-all font-bold font-quattrocento text-sm tracking-wide w-[312px] lg:py-[10px] max-w-full text-center inline-block no-underline rounded-full;
    }
    .btn-violete {
      @apply bg-violete text-white border border-violete;
      &:hover{
        @apply bg-blue border-blue text-white;
      }
    }
    .btn-transparent {
      @apply text-white border border-white;
      &:hover{
        @apply bg-white text-black;
      }
    }
    a{
        @apply text-blue transition-all;
        &:hover {
          @apply text-blue;
        }
    }

    .btn-white {
      @apply text-violete border border-white bg-white rounded-full;
      &:hover{
        @apply bg-opacity-0 text-white;
      }
    }
 
}

#home-hero{
  margin-top: -183px;
  padding-top: 240px;
  padding-bottom: 80px;
  & .home-hero-bg{
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    opacity: 0.57;
  }
}


#inshop-services .slick-track
{
    display: flex !important;
}

#inshop-services .slick-slide
{
    height: inherit !important;
}

#inshop-services .slick-prev::before, #inshop-services .slick-next::before{
  background-color: #A6A5AC;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#inshop-services .slick-prev, #inshop-services .slick-next{
  width: 50px;
  height: 50px;
}

#inshop-services .slick-prev{
  left: -60px;
}

#inshop-services .slick-next{
  right: -60px;
}

#inshop-services .slick-prev::before {
  content: url(../img/slide-arrow.svg);
}
#inshop-services .slick-next::before {
  content: url(../img/slide-arrow.svg);
  transform: rotate(180deg);
}

#inshop-services .slick-dots li button::before{
  color: #2D2377;
  font-size: 40px;
}

#inshop-services .slick-dots{
  bottom: -50px;
}

.marked-list{
  margin: 0;
  padding: 0;
  list-style: none;
  & li{
    padding-left: 65px;
    position: relative;
    margin-bottom: 20px;
    &::before{
      content: url(../img/list-mark.svg);
      position: absolute;
      top: 0;
      left: 0;

    }
  }
}

.why-us-bg{
  position: absolute;
  top: -2.5rem;
  right: -2.5rem;
  bottom: -2.5rem;
  left: -2.5rem;
  background-image: url(../img/why-us-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

#seals .slick-track
{
    display: flex !important;
}

#seals .slick-slide
{
    height: inherit !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cta{
  & .left-column{
    flex-basis: 100%;
    max-width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 12px;
    padding-right: 12px;
    position: relative;
    & .cta-left-bg-img{
      position: absolute;
      top: 0;
      bottom: 0;
      background-image: url(../img/chat-message-info.svg);
      background-repeat: no-repeat;
      background-position: center left;
      width: 100%;
      z-index: 0;
    }
    & .cta-left-text{
      flex-basis: 100%;
      max-width: 100%;
      position: relative;
    }
    & .cta-left-button{
      flex-basis: 100%;
      max-width: 100%;
      position: relative;
    }
  }
  & .right-column{
    flex-basis: 100%;
    max-width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 12px;
    padding-right: 12px;
  }
}

.footer-menu{
  margin: 0;
  padding: 0;
  list-style: none;
  & li{
    margin-bottom: 16px;
    & a{
      color: #000;
      &:hover{
        color: #2D2377;
      }
    }
  }
}


#what-we-offer .slick-track
{
    display: flex !important;
}

#what-we-offer .slick-slide
{
    height: inherit !important;
}

#what-we-offer .slick-prev::before, #what-we-offer .slick-next::before{
  background-color: #A6A5AC;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#what-we-offer .slick-prev, #what-we-offer .slick-next{
  width: 50px;
  height: 50px;
}

#what-we-offer .slick-prev{
  left: -60px;
}

#what-we-offer .slick-next{
  right: -60px;
}

#what-we-offer .slick-prev::before {
  content: url(../img/slide-arrow.svg);
}
#what-we-offer .slick-next::before {
  content: url(../img/slide-arrow.svg);
  transform: rotate(180deg);
}

#what-we-offer .slick-dots li button::before{
  color: #2D2377;
  font-size: 40px;
}

#what-we-offer .slick-dots{
  bottom: -50px;
}

.value-icon, .why-choose-inshop-icon, .why-choose-fleet-icon{
  filter: drop-shadow(0px 20px 30px rgba(45, 35, 119, 0.12));
}

.choose-info .choose-info-item{
  position: relative;
  min-height: 470px;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 65px;
  display: none;
  &.active{
    display: flex;
  }
  & .choose-info-bg{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    & img{
      width: 100%;
      height: 100%;
      opacity: 0.36;
      object-fit: cover;
    }
    & .overlay{
      background: linear-gradient(90deg, #2D2377 0%, rgba(45, 35, 119, 0.00) 100%);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}

.choose-menu{
  padding: 32px 12px;
  display: flex;
  justify-content: center;
  & li{
    margin-bottom: 12px;
    cursor: pointer;
    font-weight: 800;
    font-size: 22px;
    padding-top: 6px;
    padding-bottom: 15px;
    & .choose-info-item-mobile{
      position: relative;
      font-size: 16px;
      color: #fff;
      font-weight: 400;
      display: none;
      & .choose-info-bg{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 0;
        & img{
          width: 100%;
          height: 100%;
          opacity: 0.36;
          object-fit: cover;
        }
        & .overlay{
          background: linear-gradient(90deg, #2D2377 0%, rgba(45, 35, 119, 0.00) 100%);
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        }
      }
    }
    &:hover{
      color: #2D2377;
    }
    &.active{
      color: #2D2377;
      & .choose-info-name .chose-info-button span:last-child{
        display: none;
      }
    }
    & .choose-info-name{
      padding-right: 60px;
      position: relative;
      & .chose-info-button{
        position: absolute;
        width: 45px;
        height: 45px;
        top: 50%;
        transform: translateY(-50%);
        right: 5px;
        & span:first-child{
          height: 4px;
          width: 35px;
          background-color: #2D2377;
          display: block;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
        & span:last-child{
          height: 35px;
          width: 4px;
          background-color: #2D2377;
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
    
  }
}



@import "./media";